@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-slate-900 text-slate-100;
  }
}
@theme {
  /* Colores base (Modo Claro) */
  --color-page-bg: #f8fafc; /* slate-50 */
  --color-page-text: #0f172a; /* slate-900 */

  /* Colores Modo Oscuro */
  @variant dark (&:where(.dark, .dark *)) {
    --color-page-bg: #0f172a; /* slate-900 */
    --color-page-text: #f8fafc; /* slate-50 */
  }
}
